    <% flash.each do |name, msg| %>
      <div class="alert alert-<li><%= name == "notice" ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
    <% end %>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center ">
            <h1>ずぼらパンダ</h1>
            <h3>ついつい買い忘れることってありません？</h3>
            <img class="img-portfolio" width="55" height="55" src="/assets/icons/panda7.jpg">
            <br>
            <% if user_signed_in? %>
              <%= link_to 'マイページ', stocks_path, :class => "btn btn-dark btn-lg" %>
              <%= link_to 'プロフィール変更', edit_user_registration_path, :class => "btn btn-dark btn-lg" %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, :class => "btn btn-dark btn-lg" %>
            <% else %>
              <%= link_to 'サインアップ', new_user_registration_path, :class => "btn btn-dark btn-lg" %>
              <%= link_to 'ログイン', new_user_session_path, :class => "btn btn-dark btn-lg" %>
            <% end %>
        </div>
    </header>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>こんなことができるよ</h2>
                    <hr class="small">
	            <div class="row">
                        <div>
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-pencil-square-o fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>買い忘れないよ</strong>
                                </h4>
                                <p>いつ頃に買い置きが切れそうか、<br>事前に教えてくれるよ</p>
                            </div>
                        </div>
                        <div>
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-users fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>自動で計算するんだ</strong>
                                </h4>
                                <p>性別と家族構成、<br>日本人の平均的な利用量を基に、<br>自動で消費量を計算するよ<br>パンダ基準じゃないよ</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- About -->

    <!-- Footer -->
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <p class="text-muted">Copyright &copy; Capricorn 2015</p>
                </div>
            </div>
        </div>

