    <% flash.each do |name, msg| %>
      <div class="alert alert-<li><%= name == "notice" ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
    <% end %>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center ">
            <h1>ずぼらパンダ</h1>
            <h3>ついつい買い忘れることってありません？</h3>
            <img class="img-portfolio" width="55" height="55" src="/assets/icons/panda7.jpg">
            <br>
            <% if user_signed_in? %>
              <%= link_to 'マイページ', stocks_path, :class => "btn btn-dark btn-lg" %>
              <%= link_to 'プロフィール変更', edit_user_registration_path, :class => "btn btn-dark btn-lg" %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, :class => "btn btn-dark btn-lg" %>
            <% else %>
              <%= link_to 'サインアップ', new_user_registration_path, :class => "btn btn-dark btn-lg" %>
              <%= link_to 'ログイン', new_user_session_path, :class => "btn btn-dark btn-lg" %>
            <% end %>
        </div>
    </header>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>こんなことができるよ</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-pencil-square-o fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>買い忘れないよ</strong>
                                </h4>
                                <p>いつ頃に買い置きが切れそうか、<br>事前に教えてくれるよ</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-users fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>自動で計算するんだ</strong>
                                </h4>
                                <p>性別と家族構成、<br>日本人の平均的な利用量を基に、<br>自動で消費量を計算するよ<br>パンダ基準じゃないよ</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-line-chart fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>一目で把握<br>（今後ね）</strong>
                                </h4>
                                <p>買い置き量、<br>これまでの消費量や補充の履歴を<br>グラフで確認できるようにしたいな</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-comments fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>オススメ<br>（今後ね）</strong>
                                </h4>
                                <p>これまでの利用状況や家族構成に<br>応じてオススメ商品を知らせたいな</p>
                           </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- About -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>サービス概要</h2>
                    <p class="lead"><small>「日用品の買い忘れをしないように」、また「買い置きがなくなりそうな時期を事前に」通知してくれるサービスです。<br>「最初に日用品を設定するだけ」で、日用品がなくなりそうな頃にメールでお知らせしてくれます。<br>「日用品のリマインダーやお買い物メモ」とは違い、「自動計算による通知機能や、ご利用者様毎への最適化 （履歴蓄積によるオススメ商品のリコメンド等）」を盛り込む予定です。</small></p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->

    <!-- Footer -->
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Capricorn</strong>
                    </h4>
                    <p>1-10-40 Higashi-Ooi<br>Shinagawa-Ku Tokyo 140-0011</p>
                    <ul class="list-unstyled">
                        <gli><i class="fa fa-phone fa-fw"></i> (03)3472-7831</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">name@example.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Capricorn 2015</p>
                </div>
            </div>
        </div>

