<div class="page-header">
  <h1>トイレットペーパーの残り</h1>
</div>

  <% @instance_div = @stock.to_i.div(10) %>
   <% @instance_div.times{ %>
    <img class="img-portfolio" width="80" height="80" src="/assets/icons/toiletpaper10.png">
   <% } %>
  <% @instance_modulo = @stock.to_i.modulo(10) %>
   <% @instance_modulo.times { %>
    <img class="img-portfolio" width="30" height="30" src="/assets/icons/toiletpaper.png">
   <% } %>

<div class="control-group">
  残りロール: <strong><%= @stock %></strong> 本
</div>
<div class="control-group">
  1日の消費量： <strong><%= @consume_oneday %>m</strong>
</div>
<div class="control-group">
  なくなる日： <strong><%= @end_day.year%>年<%= @end_day.month %>月<%= @end_day.day %>日</strong>
</div>
<div class="control-group">
  ※ 1日あたりの消費量は　男性3.5m、女性12.5m で計算しています（日本トイレ協会調べ）
</div>
<br />
<%= link_to t('.back', :default => t("helpers.links.back")),
               top_index_path, :class => 'btn btn-default'  %>