<%= form_for @stock, :html => { :class => "form-horizontal stock" } do |f| %>

  <% if @stock.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @stock.errors.count %> つのエラーがあります</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @stock.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% user_id = current_user.id %>

  <div class="control-group">
    <%= f.label :商品名, :class => 'control-label' %>
    <div class="controls">
    <%= f.select :item_id, @items.all.map{|t| [t.name, t.id]},
                {:include_blank => false, :onchange => "changeSelect()", :selected => 1 }, {class: 'form-control'} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :単位, :class => 'control-label' %>
    <div class="controls">
    <%= f.select :unit, [['シングル 60m',60],['シングル 50m',50],['ダブル 30m',30],['ダブル 25m',25]], {:selected => 60}, {:class => 'form-control'} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :個数, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :num, :class => 'form-control', :min => 1, :value => 12 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :写真, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :photo, :class => 'form-control' %>
    </div>
  </div>

  <br />

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            stocks_path, :class => 'btn btn-default' %>

<% end %>
