<%= form_for(@stock) do |f| %>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% @stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% user_id = current_user.id %>

  <div class="field">
    <%= f.label :商品名 %><br>
    <%= f.select :item_id, @items.all.map{|t| [t.name, t.id]}, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :単位 %><br>
    <%= f.number_field :unit %>
  </div>
  <div class="field">
    <%= f.label :個数 %><br>
    <%= f.number_field :num %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
