<p id="notice"><%= notice %></p>

<h1>在庫一覧</h1>

<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>商品名</th>
      <th>なくなる日</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
       <% end_day = stock.updated_at + (( stock.num * stock.unit / ( stock.item.spent_men + stock.item.spent_women )).floor * 24 * 3600 ) %>
      <tr>
        <td><%= link_to stock.item.name, stock if stock.item %></td>
        <td><%= end_day.year %>年<%= end_day.month %>月<%= end_day.day %>日
          （あと<%= (( end_day - Time.now ) / ( 60 * 60 * 24 )).truncate %>日）
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しい商品の登録', new_stock_path %>
