<% require 'rubygems' %>
<% require 'active_support' %>

<h2>買い足し時期は?</h2>
<table class="table table-striped table-bordered table-hover table-condensed">
    <% week1 = [] %>
    <% week2 = [] %>
    <% week3 = [] %>
    <% week4 = [] %>
    <% week5 = [] %>
    <% @stocks.each do |stock| %>
    <% end_day =  calcEndday(stock) %> 
    <% if end_day <= Time.now %>
    <% elsif end_day < (Time.now + 1.week) %>
      <% week1[stock.id] = stock.item.name %>
    <% elsif ((Time.now + 1.week) <= end_day) && (end_day < (Time.now + 2.week)) %>
      <% week2[stock.id] = stock.item.name %>
    <% elsif ((Time.now + 2.week) <= end_day) && (end_day < (Time.now + 3.week)) %>
      <% week3[stock.id] = stock.item.name %>
    <% elsif ((Time.now + 3.week) <= end_day) && (end_day < (Time.now + 4.week)) %>
      <% week4[stock.id] = stock.item.name %>
    <% else %>
      <% week5[stock.id] = stock.item.name %>
    <% end %>
    <% end %>
    <tbody>
     <tr>
        <td>これから7日以内</td>
        <td><% week1.each do |name| %><%= name != nil ? name : "" %><% end %></td>
      </tr>
      <tr>
        <td>これから14日以内</td>
        <td><% week2.each do |name| %><%= name != nil ? name : "" %><% end %></td>
      </tr>
      <tr>
        <td>これから21日以内</td>
        <td><% week3.each do |name| %><%= name != nil ? name : "" %><% end %></td>
      </tr>
      <tr>
        <td>これから28日以内</td>
        <td><% week4.each do |name| %><%= name != nil ? name : "" %><% end %></td>
      <tr>
        <td>これから28日以降</td>
        <td><% week5.each do |name| %><%= name != nil ? name : "" %><% end %></td>
      </tr> 
    </tbody>
</table>

<%- model_class = Stock -%>
<div class="page-header">
  <h1>マイページ</h1>
</div>
<% if @stocks.empty? %>
  <h4>商品の登録がありません</h4>
<% else %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>商品名</th>
      <th>登録日</th>
      <th>なくなる日</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <% end_day =  calcEndday(stock) %> 
       <% remain_day = (( end_day - Time.now ) / ( 60 * 60 * 24 )).truncate %>
       <% if (( end_day - Time.now ) / ( 60 * 60 * 24 )).truncate < 0 %><% next %><% end %>
      <tr>
        <td><%= link_to stock.item.name, stock if stock.item %></td>
        <td><%= stock.updated_at.strftime("%Y年%m月%d日") %></td>
        <td><%= end_day.year %>年<%= end_day.month %>月<%= end_day.day %>日
          （あと<%= remain_day %>日）</td>
        <td>
          <%= stock.increase_day %>
          <%= link_to t('.increase_day', :default => t("helpers.links.increase_day")),
                      increase_day_stocks_path(stock),
                      #:href => "/stocks/increace_day/#{stock.id}",
                      :method => :increase_day,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'な
くなる日を１日増やしますか？')) },
                      :class => 'btn btn-xs btn-success' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      stock_path(stock),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '本当に削除しますか？')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_stock_path,
            :class => 'btn btn-primary' %>
