<% require 'rubygems' %>
<% require 'active_support' %>
<%- model_class = Stock -%>
<div class="page-header">
  <h1>これまでの履歴</h1>
</div>

<%= search_form_for @search, url: search_stocks_path,
                        html: { method: :post } do |f| %>
  <%= f.label :item_name_cont, 'num' %>
  <%= f.text_field :item_name_cont %>
  <div>
    <%= f.submit '検索する' %>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単位</th>
      <th>個数</th>
      <th>登録日</th>
      <th>なくなる日</th>
      <th>写真</th>
      <th>備考</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <% end_day = calcEndday(stock) %> 
       <% remain_day = (( end_day - Time.now ) / ( 60 * 60 * 24 )).truncate %>
       <% if (( end_day - Time.now ) / ( 60 * 60 * 24 )).truncate < 0 %><% next %><% end %>
      <tr>
        <td><%= link_to stock.item.name, stock if stock.item %></td>
        <td><%= stock.unit %></td>
        <td><%= stock.num %></td>
        <td><%= stock.created_at.strftime("%Y年%m月%d日") %></td>
        <td><%= end_day.year %>年<%= end_day.month %>月<%= end_day.day %>日</td>        <td>
          <% if stock.photo.file? %>
            <%= image_tag stock.photo.url(:thumb) %>
          <% else %>
          <% end %>
        </td>
        <td><%= stock.remarks %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('.back', :default => t("helpers.links.back")),
              stocks_path, :class => 'btn btn-default'  %>
