<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @stock.user_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @stock.item_id %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @stock.unit %>
</p>

<p>
  <strong>Num:</strong>
  <%= @stock.num %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
