<%= form_for(@user_item) do |f| %>
  <% if @user_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_item.errors.count, "error") %> prohibited this user_item from being saved:</h2>

      <ul>
      <% @user_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% user_id = current_user.id %>

  <div class="control-group">
    <%= f.label :商品名, :class => 'control-label' %>
    <div class="controls">
    <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-4">
        <%= f.label :JANコードを入力してボタンを押すと商品名を自動で入力できます %>
      </div>
      <div class="col-sm-8">
        <!---- 結果MSG書き込み用のdiv ---->
        <div id="result"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <%= f.text_field :id %>
      </div>
      <div class="col-sm-8">
        <div class="btn btn-default" id="rakuten-button"><i class="fa fa-map-marker"></i> JANコードからデータ取得</div>
      </div>
    </div>

  <div class="control-group">
    <%= f.label :単位, :class => 'control-label' %>
    <div class="controls">
    <%= f.number_field :unit, :value=> 1, class: 'form-control' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :個数, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :num, :class => 'form-control', :value => 1 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :"1日の使用量", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :spent_men, :class => 'form-control', :default => 1 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :写真, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :photo, :class => 'form-control' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :備考, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :remarks, :class => 'form-control' %>
    </div>
  </div>

  <br />

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            stocks_path, :class => 'btn btn-default' %>

<% end %>
