<div class="page-header">
  <h3><%= @user_item.name %></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong>単位:</strong></dt>
  <dd><%= @user_item.unit %></dd>
  <dt><strong>個数:</strong></dt>
  <dd><%= @user_item.num %></dd>
  <dt><strong>1日当たりの消費量:</strong></dt>
  <dd><%= @user_item.spent_men %></dd>
  <dt><strong>登録日:</strong></dt>
  <dd><%= @user_item.updated_at.strftime("%Y年%m月%d日") %></dd>
  <dt><strong>なくなる日:</strong></dt>
  <dd><% end_day = calcEnddayEx(@user_item) %>
  <%= end_day.year %>年<%= end_day.month %>月<%= end_day.day %>日</dd>
  <dt><strong>写真:</strong></dt>
  <dd>
    <% if @user_item.photo.file? %>
      <%= image_tag @user_item.photo.url(:medium) %>
    <% else %>
    <% end %>
  </dd>
  <dt><strong>備考:</strong></dt>
  <dd><%= @user_item.remarks %></dd></dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              stocks_path, :class => 'btn btn-default'  %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_item_path(@user_item),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '本当に削除しますか？')) },
              :class => 'btn btn-danger' %>
