<!DOCTYPE html>
<html lang="ja">
<head>
  <title>ずぼらパンダ</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.1/css/materialize.min.css' />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.1/js/materialize.min.js'></script>  
  <%= csrf_meta_tags %>

</head>
<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <% if user_signed_in? %>
                <li><%= link_to 'マイページ', stocks_path %></li>
                <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                <li><%= link_to 'トップへ戻る',  root_path %></li>
            <% else %>
                <li><%= link_to 'サインアップ', new_user_registration_path %></li>
                <li><%= link_to 'ログイン', new_user_session_path %></li>
                <li><%= link_to 'ユーザ登録せずに利用', new_project_path %></li>                <li><%= link_to 'トップへ戻る',  root_path %></li>
            <% end %>
        </ul>
    </nav>

<div class="container">
  <div class="row">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<li><%= name == "notice" ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
    <% end %>
    <div class="span8">
      <%= yield %>
    </div>
  </div>
</div>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>
<div class="container">
   <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
         <p class="text-muted">Copyright &copy; Capricorn 2015</p>
         <p class="text-muted">
            <%= link_to 'プライバシーポリシー',  top_privacy_path %>
            <%= link_to '利用規約',  top_agreement_path %>
            <%= link_to 'お問い合わせ',  top_inquiry_path %>
         </p>
      </div>
   </div>
</div>
</body>

</html>
