<!DOCTYPE html>
<html lang="ja">
<head>
  <title>ずぼらパンダ</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.1/css/materialize.min.css' />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src='https://code.jquery.com/ui/1.10.4/jquery-ui.min.js'></script>
    <script>
  $(function() {
    $( document ).tooltip();
  });
  </script>
  <%= csrf_meta_tags %>

</head>
<body>

   <!-- Navigation -->
  <div class="toc-wrapper pinned" style="top: 0px;">
  <div class="fixed-action-btn" style="bottom: 100px; right: 24px;">
    <a class="btn-floating btn-large green" >
      <i class="large material-icons">menu</i>
    </a>
    <ul>
    <% if user_signed_in? %>
      <li><a href=<%= stocks_path %>  title="マイページ" class="btn-floating red"><i class="material-icons">store</i></a></li>
      <li><a href=<%= edit_user_registration_path %> title="プロフィール変更" class="btn-floating yellow darken-1"><i class="material-icons">person_pin</i></a></li>
      <li><a href=<%= destroy_user_session_path %> title="ログアウト" data-method="delete" class="btn-floating green"><i class="material-icons">play_for_work</i></a></li>
    <% else %>
      <li><a href=<%= new_user_registration_path %>  title="サインアップ" class="btn-floating red"><i class="material-icons">done</i></a></li>
      <li><a href=<%= new_user_session_path %> title="ログイン" class="btn-floating green"><i class="material-icons">input</i></a></li>
      <li><a href=<%= new_project_path %> title="ユーザ登録せずに利用" class="btn-floating yellow darken-1"><i class="material-icons">stars</i></a></li>
    <% end %>
    </ul>
  </div>
  </div>

<div class="container">
  <div class="row">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<li><%= name == "notice" ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
    <% end %>
    <div class="span8">
      <%= yield %>
    </div>
  </div>
</div>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>
<div class="container">
   <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
         <p class="text-muted">Copyright &copy; Capricorn 2015</p>
         <p class="text-muted">
            <%= link_to 'プライバシーポリシー',  top_privacy_path %>
            <%= link_to '利用規約',  top_agreement_path %>
            <%= link_to 'お問い合わせ',  top_inquiry_path %>
         </p>
      </div>
   </div>
</div>
</body>

</html>
